{{!-- This page get displayed to guests as well as to members when logged in --}}
<section class="hero is-medium welcome-hero hide">
  <div class="hero-body">
    <div class="container">
      <h4 class="title is-4">
        <i class="fas fa-code"></i>
        Code Query
      </h4>
      <div>A place for <strong>web development beginners</strong> to ask questions and help peers in a friendly environment</div>
      <p><a href="/login"><strong>Login</strong></a> or <a href="/signup"><strong>sign up</strong></a> to start asking and answering code questions!</p>
      {{!-- <h2>Welcome <span class="member-name">Guest</span></h2> --}}
    </div>
  </div>
</section>

<div id="askQuestion" class="askQuestion hide">
    <div class="card-content">
      <div class="media-content">
        <div class="card ask">
        <div class="container">
          <div class="title is-5 raleway" style="padding-top:1em; font-weight:700">
            Welcome,<span style="color:palevioletred; padding-left:.25em;" class="member-name"></span>
          </div>
          <div class="title raleway"> Ask Your Question:</div>
          <form id="questionForm">
            
            <div class="field">
              <label class="label raleway" style="margin-left:.75em">Question Category</label>
              <div class="control">
                <div class="select ">
                  <select id='questionTag'>
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>JavaScript</option>
                    <option>Node</option>
                    <option>Databases</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <textarea id="questionText"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button type="submit" class="button ">Submit<i class="fa fa-paper-plane fa-fw"></i></button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question-message-bar">
        {{#if questions.length}}
          <div class="container">
            <div class="title is-4 padding-x raleway">Recently Asked Questions</div>
          </div>  
          {{else}}
          <div class="container">
            <div class="title is-4 padding-x raleway">No Questions Yet.</div>
          </div>
        {{/if}}
</div>

<div class="container is-fullwidth">
  <div class="allQuestion">
    <div class="card-content">
      <div class="media-content">

          {{#each questions}}
            {{> questions/question_block}}
          {{/each}}
        
      </div>
    </div>
  </div>
</div>

