<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Mentor Match | Q & A
      </h1>
      <h2 class="subtitle">
        Beginner Web Developers Asking Questions in a Friendly Environment
      </h2>
      <h2>Welcome <span class="member-name">Guest</span></h2>
    </div>
  </div>
</section>

<div class="container">

  <div class="card askQuestion">
    <div class="card-content">
      <div class="media-content">
        <div class="title"> Ask Your Question:</div>
        <br>
        <form id="questionForm">
          <div class="field">
            <div class="control">
              <div class="select">
                <select id='questionTag'>
                  <option>HTML</option>
                  <option>CSS</option>
                  <option>JavaScript</option>
                </select>
              </div>
            </div>
            <div class="control">
              <textarea id="questionText" class="textarea is-primary" placeholder="I need help with ..."></textarea>
            </div>
            <br>
            <button type="submit" class="button is-primary">Submit</button>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="card allQuestion">
    <div class="card-content">
      <div class="media-content">

        <div class="title">Recently Asked Questions</div>
        <br>
        <div class="container is-fluid">
        {{!-- <article class="media"> --}}

        {{!-- {{#with User}} --}}
        {{#each questions}}
        {{> questions/question_block}}
        {{/each}}
        {{!-- {{/with}} --}}
        {{!-- {{#each answers}}c
            {{> answers/answer_block}}
          {{/each}} --}}


        {{!-- </article> --}}
        </div>
      </div>
    </div>
  </div>

  <div class="card comment">

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src={{avatar}}>
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Add a comment..."></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button">Post comment</button>
          </p>
        </div>
      </div>
    </article>

  </div>
</div>

</div>