<div class="container is-fluid">
        <h2 class="title" style="margin-top: 2em">Login Form</h2>
        <form class="login">
          <div class="field">
          <label class="label">Username</label>
            <div class="control has-icons-left">
              <input class="input" type="username" placeholder="Username" id="username-input">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
            <input type="password" class="input" id="password-input" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-user-lock"></i>
              </span>
            </div>
          </div>

          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          
          <div class="field">
            <div class="control">
              <button type="submit" class="button">Submit</button>
            </div>
          </div>
          </form>
          <br/>
          <p>Or sign up <a href="/signup">here</a></p>

 </div>




 