{{!-- Member's specific page  --}}
<div class="container is-fluid">
  <div class="box" style="margin-top: 2em">
    <h2 class="title">Welcome <span class="member-name"></span></h2>
    <a class="button" href="/logout">Logout</a>
  </div>
</div>
 
<div>
  {{#each questions}}
    {{> questions/question_block}}
  {{/each}}
</div>
  
 