{{!-- Member's profile page to view and/or delete questions --}}
<div class="question-message-bar">
  {{#if questions.length}}
    <div class="container">
      <div class="title is-4 padding-x raleway">Member Questions</div>
    </div>
  {{else}}
    <div class="container">
      <div class="title is-4 padding-x raleway">No Questions Yet.</div>
    </div>
  {{/if}}
</div>

<div class="container is-fullwidth profile-page">
  {{!-- work around for text editor always appending q box to first textarea --}}
  <div class="hide">
    <textarea class="hide"></textarea>
  </div>
  <div class="allQuestion">
    <div class="card-content">
      <div class="media-content">
          {{#each questions}}
            {{> questions/question_block}}
          {{/each}}
      </div>
    </div>
  </div>
</div>

