<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Mentor Match | Q & A
      </h1>
      <h2 class="subtitle">
        Beginner Web Developers Asking Questions in a Friendly Environment
      </h2>
      <h2>Welcome <span class="member-name">Guest</span></h2>
    </div>
  </div>
</section>


<div class="container">
  <div class="allQuestion">
    <div class="card-content">
      <div class="media-content">
        {{#if questions.length}}       
          <div class="title">Member Questions</div>
          {{else}}
          <div class="title">No Questions Yet.</div>
        {{/if}}
        <br>
  
          {{#each questions}}
            {{> questions/question_block}}
          {{/each}}
        
      </div>
    </div>
  </div>
</div>

