<div class="question-message-bar">
  {{#if questions.length}}       
    <div class="title is-4 padding-x">Member Questions</div>
  {{else}}
    <div class="title is-4 padding-x">No Questions Yet.</div>
  {{/if}}
</div>

<div class="container is-fullwidth profile-page">
  {{!-- work around for text editor always appending q box to first textarea --}}
  <div class="hide">
    <textarea class="hide"></textarea>
  </div>
  <div class="allQuestion">
    <div class="card-content">
      <div class="media-content">
          {{#each questions}}
            {{> questions/question_block}}
          {{/each}}
        
      </div>
    </div>
  </div>
</div>

