<div class="container profile-page">
  {{!-- work around for text editor always appending q box to first textarea --}}
  <div class="hide">
    <textarea class="hide"></textarea>
  </div>
  <div class="allQuestion">
    <div class="card-content">
      <div class="media-content">
        {{#if questions.length}}       
          <div class="title is-6">Member Questions</div>
          {{else}}
          <div class="title is-6">No Questions Yet.</div>
        {{/if}}
          {{#each questions}}
            {{> questions/question_block}}
          {{/each}}
        
      </div>
    </div>
  </div>
</div>

