<div class="container is-fluid">
        <h2 class="title" style="margin-top: 2em">Sign Up Form</h2>
        <form class="signup">
          <div class="field">
            <label class="label">Email address</label>
                        <div class="control has-icons-left">

            <input type="email" class="input" id="email-input" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
            <input type="password" class="input" id="password-input" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-user-lock"></i>
              </span>
            </div>
          </div>


          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <div class="field">
            <div class="control">
            <button type="submit" class="button">Sign Up</button>
            </div>
          </div>
        </form>
        <br />
        <p><a href="/auth/github" class="github">
          Sign in with GitHub
          <i class="fab fa-github"></i>
          </a>
        </p>
        <p>Already have an account? <a href="/login">Login Here</a></p>
      </div>
    </div>
  </div>