form.signup,
form.login {
  margin-top: 50px;
}

.navbar {
  background-color: black!important;
}

.navbar-burger,
.navbar-title{
  color: white!important;

}

.navbar-link{
  color: white!important;
}

a:hover{
  background-color: #008571!important;
  color: white!important;
}

.hide{
  display:none;
}

body{
  /* font-family: 'Anonymous Pro', monospace; */
  /* font-family: 'Raleway', sans-serif; */
  /* background-color: #F4FDFB; */
}

.card {
  font-family: 'Anonymous Pro', monospace;
  /* background-color: #e3f5f0!important; */
  background-color: whitesmoke!important;
  padding: 20px!important;
  margin-bottom: 20px;
  color: #000!important;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid #008571;

}

.ask{
  background-color: whitesmoke!important;
}

.editor-toolbar{
  /* background-color: #e3f5f0; */
}

.member-name{
  color: #008571;
  font-weight: bold;
}
.control{
  margin: 10px;
}

.userUsername{
  color: #008571;
  font-weight: bold;
}

#question{
  font-size: 1.2em;
}

.tag{
  font-weight: bold;
}

.postedText{
  padding-top: 20px;
}


.hero-body{
  background-color: whitesmoke;
  /* background-color: #e3f5f0; */
  border: 1px solid #008571;
  /* #00D1B2; */
  font-size: 1.2em;
  /* margin:20px; */
  /* box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); */


}

a{
  color: #008571;
}

.navbar-item:hover,
{
  background-color: #008571!important;
}

#alert {
  color: red;
  font-weight: bold;
}

button,
.button{
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
  background-color: #008571;
  color: white;
  
}

#signupButton,
#loginButton{
  font-family: 'Raleway', sans-serif;
}

#signupButton:hover,
#loginButton:hover{
  background-color: #e3f5f0!important;
  color: black!important;
}

select,
.control{
  border-color:#008571!important;
}

.hide {
  display: none;
}