<!DOCTYPE html>
<html lang="en">
  
  <head>
      <meta charset="UTF-8">
        <!-- google fonts-->
        {{!-- <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Mansalva|Oxanium&display=swap" rel="stylesheet"> --}}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css" rel ="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
       
    <title>Mentor Match</title>
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <i class="fa fa-users" style="margin-right: .25em" aria-hidden="true"></i>
          <h1 id="navTitle"><strong> Mentor Match </strong></h1>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
         
{{!-- add links so new partial appears in body when clicked          --}}
          {{!-- <a class="navbar-item" href="#">
            Questions
          </a> --}}
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Question Categories
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" id="HTMLTag">
                HTML
              </a>
              <a class="navbar-item" id="CSSTag">
                CSS
              </a>
              <a class="navbar-item" id="JSTag">
                JavaScript
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a id="signupButton" class="button is-primary" href="/signup">
                <strong>Sign up</strong>
              </a>
              <a id="loginButton" class="button is-light" href="/login">
                <strong>Login</strong>
              </a>
              <a id="logoutButton" class="button is-danger" href="/logout">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
          <div class="navbar-item">
            <form id="search-form">
              <div class="field has-addons">
              <div class="control">
                <input class="input" id="searchField" type="text" placeholder="Search">
              </div>
              <div class="control">
                <button class="button" id="search-button" type="submit">
                  <div class="icon is-small">
                    <i class="fas fa-search"></i>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>

        </div>
      </div>
    </nav>


  {{{ body }}}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/questions.js"></script>
  <script type="text/javascript" src="js/answers.js"></script>
  <script type="text/javascript" src="js/index.js"></script>


</body>

</html>

