{{!-- All HTML pages starts here --}}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  
  <head>
      <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css" rel ="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
       
    <title>Code Query</title>
  </head>

  <body>
    <nav class="navbar is-dark is-fixed-top" id ="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item navbar-title" href="/">
          <i class="fas fa-code" style="margin-right: .25em" aria-hidden="true"></i>
          <h1 id="navTitle"><strong> Code Query </strong></h1>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
         
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Question Categories
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item QTag" id="HTML">
                <i class="fa fa-html5 fa-fw category-icon"></i>HTML 
              </a>
              <a class="navbar-item QTag" id="CSS">
                <i class="fa fa-css3 fa-fw category-icon"></i>CSS
              </a>
              <a class="navbar-item QTag" id="JavaScript">
                <i class="fab fa-js-square fa-fw category-icon"></i>JavaScript
              </a>
              <a class="navbar-item QTag" id="Node">
                <i class="fab fa-node-js fa-fw category-icon"></i>Node
              </a>
              <a class="navbar-item QTag" id="Databases">
                <i class="fa fa-database fa-fw category-icon"></i>Databases
              </a>
               <a class="navbar-item QTag" id="Other">
                <i class="fas fa-ellipsis-h category-icon"></i>Other
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <a class="navbar-item" href="/">
            <i style="margin-right: .5em" class="fas fa-home"></i>Home
          </a>
           <a class="navbar-item hide yourProfile memberSection" href="#">
            <i style="margin-right: .5em; color:palevioletred" class="fas fa-user"></i>Your Profile
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <a id="signupButton" style="border:none" class="button hide" href="/signup">
                <strong>Sign up</strong>
              </a>
              <a id="loginButton" class="button is-light hide" href="/login">
                <strong>Login</strong>
              </a>
              <a id="logoutButton" class="button is-danger hide" href="/logout">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>


  {{{ body }}}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
  <script type="text/javascript" src="/js/signup.js"></script>
  <script type="text/javascript" src="/js/members.js"></script>
  <script type="text/javascript" src="/js/questions.js"></script>
  <script type="text/javascript" src="/js/answers.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/stickynavbar.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0" async></script>
  </body>

</html>

